
<ion-content>
 <ion-item>
    <ion-label >{{string_placeholder}}</ion-label>
    <ion-input [(ngModel)]="search" placeholder="..." (keyup.enter)="searchAction()" type="text" value=""></ion-input>
   
</ion-item>
<div style="margin-left: 10px;"><label>SCxxxxx / MYIR-xxxxxxxxxxx / xxxxxxxxx</label></div>
<button color="light" ion-button full (click)="searchAction()">Search</button>
<ion-list *ngIf=" sto!= 'no_wo'">

  <ion-item  style="background-color:#000066;"  *ngFor="let item of items" (click)="dismiss(item)">		
  <font color="white"><b>{{ item }}</b></font>
  
  </ion-item>

</ion-list>

<ion-list *ngIf=" sto == 'no_wo'">

  <ion-item  style="background-color:#000066;"  *ngFor="let item of items" (click)="dismiss_wo(item.no_wo,item.no_telfon,item.nama,item.alamat,item.sto)">		
    <font color="white"><b style="text-transform: uppercase;">{{item.nama}} / {{ item.alamat}}</b></font>
  
  </ion-item>
  
</ion-list>

</ion-content>